@import '../../styles/colors.scss';

.surveyList {
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    .header{
        display: flex;
        background-color: $primary ;
        border-top: 10px solid $primaryDark;
        justify-content: center;
        
        .headerContent{
            display: flex;
            flex-grow: 1;
            max-width: 800px;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 30px;
            img { 
                width: 40px;
                align-self: center;
            }
            .userInfo { 
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: white;
                justify-content: center;
                span { 
                    font-weight: bold;
                    font-size: 15px;
                    margin-bottom: 15px;
                }

                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
    .mainContent {
        background-image: 
        linear-gradient(to bottom right, rgba($primaryDark, 0.9), rgba($primary, 0.7)),
        linear-gradient(to top right, rgba(white, 1), rgba(red,0.8));
        border-radius: 3px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 800px;
        width: 100%;
        padding: 20px 30px;
        flex-grow: 1;
        h2 {
            font-size: large;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            li{ 
                background-color: white;
                position: relative;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 5px;
                flex-basis: 48%;
                box-shadow: 0px 1px 3px -1px black;

                .surveyContent{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-radius: 3px 3px 0px 0px;
                    flex-grow: 1;
                    background-image: linear-gradient(to right, rgba($primaryDark, 0.3), rgba($primary, 0.3));
                    
                    p{
                        font-size: 18px;
                        margin: 15px;
                        align-self: center;
                    }
                    time{
                        border-radius: 2px;
                        margin-left: 15px;
                        background-color: $primaryLight;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        width: 60px;
                        height: 100px;
                        align-items: center;
                        align-self: center;
                        color: white;
                        justify-content: center;
                        flex-shrink: 0;
                        .day{
                            font-size: 30px;
                            font-weight: bold;
                        }
                        .month{
                            font-size: 25px;
                            text-transform: lowercase;
                            margin: 0px 0px 3px;
                        }
                        .year{
                            font-size: 20px;
                        }
                        hr{
                            border-color: $background;
                            width: 90%;
                        }
                    }
                   
                }
                footer{
                    background-color: $primary;
                    color: white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 0px 0px 3px 3px;
                    &:hover{
                        background-color: $primaryDark;
                    }
                    cursor: pointer;
                }
            }
        }
        
    }
    
}